* {
    font-family: 'Rambla', sans-serif;
}

body {
    background-color: #858585;
    margin: 0;
}

button {
    cursor: pointer;
}

/* Container */




.container {
    max-width: 457px;
    margin: 108px auto 0 auto;
    background-color: #fff;
    padding-top: 17px;
    height: 339px;
    position: relative;
    border-radius: 11px;
}

.settings__content {
    display: flex;

}

.cross {
    margin: 0 20.33px 0 423px;
    cursor: pointer;
}


/* Title */
.title {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #283E4A;
    line-height: 17px;
    margin-bottom: 37px;
}

/* Input item select */

.input__settings {
    width: 174px;
    margin: 0 0 0 26px;
}

.item__desc {
    margin-bottom: 18px;
    display: flex;
    border-bottom: 1px #BFC5C9 solid;
}

.item__desc input {
    font-size: 12px;
    font-weight: 400;
    color: #283E4A;
    border: none;
    width: 100%;
    outline: none;
    padding-bottom: 6px;
    background-color: #fff;

}

.item__desc img {
    margin: 3px 7px 0 0;
    cursor: pointer;
}

.item__desc img.active {
    transform: rotate(180deg);
}

.default__type__container {
    display: none;
}

.default__type__container.active {
    display: inline;
    position: absolute;
    width: 103px;
    height: 55px;
    left: 93px;
    top: 240px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding-top: 11px;
}

.select__type {
    margin-left: 12px;
    width: 80px;
    font-size: 12px;
    font-weight: 400;
    color: #283E4A;
    cursor: pointer;
}

.select__type:first-child {
    margin-bottom: 9px;
}

/* Toggles */


.settings__toggles {
    display: flex;
    width: 240px;
    height: 105px;
    margin-top: 20px;
}

.toggles__col {
    margin-left: 18px;
    display: flex;
    width: 110px;
    flex-direction: column;
}

.col__item {
    display: flex;
    margin-bottom: 18px;
    align-items: center;
}

.setting__name {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.69px;
    color: #283E4A;
}

/* Settings Buttons */

.settings__buttons {
    display: flex;
    width: 190px;
    justify-content: space-between;
    margin-left: 233px;
}

.button__temp {
    width: 95px;
    height: 33px;
    border: none;
    border-radius: 11px;
    background: #283E4A;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    outline: none;
}

.button__apply {
    width: 73px;
    height: 33px;
    border: none;
    border-radius: 11px;
    background: #283E4A;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    outline: none;
}
