body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ccc;
    font-family: 'Rambla', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #283E4A;
}

.container {
    margin: 98px auto 0 auto;
    padding-top: 17px;
    background-color: #fff;
    width: 584px;
    height: 210px;
    border-radius: 11px;
}

.cross {
    margin-left: 550px;
    cursor: pointer;
}

.title {
    margin-top: 9px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

/* SQL Settings */

.sql_settings {
    margin-top: 15px;
}

.sql_settingSql_names_title {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    margin-bottom: 5px;
}

.sql_settings_items {
    padding: 15px 3px 0 3px;
    border-top: 2px solid #283E4A;
    display: flex;
}

.sql_settings_items input {
    font-size: 12px;
    font-family: 'Rambla', sans-serif;
    font-weight: 400;
    color: #283E4A;
    outline: none;
    border: none;
}

.sql_settings_items input::placeholder {
    font-size: 12px;
    font-family: 'Rambla', sans-serif;
    color: #BFC5C9;
}

.sql_name {
    width: 95px;
    margin-right: 15px;
}

.template_item_code {
    margin-right: 55px;
}

.toggle {
    margin-right: 30px;
}

.start_data_active {
    width: 113px;
    margin-right: 5px;
}

.end_data_active {
    width: 106px;
}

